doctype html
html
    head
        title Prototype Kaiwa
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="/css/client.css")
        block head
    body.aux
        h2(style="text-align: center") Prototype Kaiwa

        block content

        script(src='/js/zepto.js')
        block scripts
